<p>
  <strong>Nome:</strong>
  <%= @reason.name %>
</p>

<p>
  <strong>Ação:</strong>
  <%= action_name(@reason.action) %>
</p>

<%= link_to 'Editar', edit_reason_path(@reason) %> |
<%= link_to 'Voltar', reasons_path %>
