<h1>Seja bem vindo ao sistema de estoques</h1>

<table width="400">
  <thead>
    <tr>
      <th>Task</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Menu Simples</td>
      <td>Finished</td>
    </tr>

    <tr>
      <td>No model <b>Reason</b>, mostrar se o campo é pra adicionar(+) ou remover(-)</td>
      <td>Finished</td>
    </tr>

    <tr>
      <td>Listar Quantidade de produtos cadastrados (mostrar diferença entre adicionados - removidos).
Esta funcionalidade deve ser mostrada em: /products (products#index)</td>
      <td>Finished</td>
    </tr>

    <tr>
      <td>Criar Model de venda, onde será selecionado um produto, quantidade</td>
      <td>-</td>
    </tr>

    <tr>
      <td>Mostrar datetime da movimentacao no estoque</td>
      <td>-</td>
    </tr>

    <tr>
      <td>Não deixar movimentar estoque caso o mesmo fique negativo</td>
      <td>-</td>
    </tr>

  </tbody>
</table>