<h1>Seja bem vindo ao sistema de estoques</h1>

<table width="400">
  <thead>
    <tr>
      <th>Task</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Menu Simples</td>
      <td>Finished</td>
    </tr>

    <tr>
      <td>No model <b>Reason</b>, mostrar se o campo é pra adicionar(+) ou remover(-)</td>
      <td>Finished</td>
    </tr>

    <tr>
      <td>Listar Quantidade de produtos cadastrados (mostrar diferença entre adicionados - removidos).
Esta funcionalidade deve ser mostrada em: /products (products#index)</td>
      <td>Finished</td>
    </tr>

    <tr>
      <td>Mostrar datetime da movimentacao no estoque</td>
      <td>Finished</td>
    </tr>

    <tr>
      <td>Não deixar movimentar estoque caso o mesmo fique negativo</td>
      <td>Finished</td>
    </tr>

    <tr>
      <td>Criar Model de venda, onde será selecionado um produto, quantidade</td>
      <td>Finished</td>
    </tr>

    <tr>
      <td>Deixar SaleProduct como nested de Sale. Criarei um Sale, e adicionarei nele novos SaleProducts. Cada Sale, será um produto diferente, onde será adicionada a quantidade, ex: 3 x Salgados, 2 x refrigerantes</td>
      <td>Finished</td>
    </tr>

    <tr>
      <td>No index (/sales), mostrar uma prévia dos produtos, e total</td>
      <td>Finished</td>
    </tr>

    <tr>
      <td>
        Não permitir que um produto seja adicionado caso: <br/>
        <ul>
          <li>Não tenha quantidade disponivel no estoque</li>
          <li>tente inserir um valor negativo ou zero</li>
          <li></li>
        </ul>
      </td>
      <td>-</td>
    </tr>

    <tr>
      <td>Caso nenhum produto seja inserido, remover Sale criado</td>
      <td>-</td>
    </tr>

    <tr>
      <td>Ao adicionar um produto, salvar o valor * quantidade no campo current_price. Pois o valor do produto pode ser alterado no futuro, gerando problemas nos futuros relatórios</td>
      <td>-</td>
    </tr>

    <tr>
      <td>Inserir formatação para moeda</td>
      <td>-</td>
    </tr>

    <tr>
      <td>Formatar todas as datas</td>
      <td>-</td>
    </tr>
  </tbody>
</table>